# Byte-compiled files
PythonAssignment1.pdf
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Other files
*.DS_Store